.logout-container{
    border: 20px greenyellow solid;
    height: 97vh;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logout-button{
    padding: 10px;
    margin: 10px;
    background-color: green;
    outline: none;
    border-radius: 10px;
    border: none;
    color:#ffffff;
    cursor: pointer;
}