.not-found-container{
    border: 20px greenyellow solid;
    height: 96vh;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}